:root {
  --main-font: 'Roboto', sans-serif;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --secondary-font: 'Raleway', sans-serif;
  --focus-color: #2196f3;
  --background-color: #2f303a;
  --background-color2: #ffffff;
  --background-color3: #f5f4fa;
  --section-pt: 95px;
  --section-pb: 95px;
}
